venv/
.venv/
**/env/
**/.venv/
source/existing-solutions-analysis/
source/text_extraction/output/
source/input/
plwordnet_4_2/
**/*.bin
**/*.pdf
**/*.csv
**/*.json
**/*.xml
**/*.txt
**/*.ipynb
!requirements.txt
!source/models/plwordnet/plwordnet_4_2.xml